@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #101125 !important;
}

#__next {
  height: 100vh;
}

main {
  padding-top: 6rem;
  z-index: 2;
  width: 100%;
  height: 100%;
}

footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  z-index: 0;
}

.rselect__control,
.rselect__menu,
.rselect__value-container>div {
  color: white;
}


.rselect__control {
  border-color: rgba(255, 255, 255, 0.6) !important;
}

.rselect__control input {
  width: 8rem;
  height: 2rem;
}



.image-shadow {
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.8)) drop-shadow(-2px -2px 3px rgba(0, 0, 0, 0.8))
}

.image-glow {
  filter: drop-shadow(2px 2px 3px rgba(255, 255, 255 0.8)) drop-shadow(-2px -2px 3px rgba(255, 255, 255 0.8))
}

.glow-on-hover:hover {
  filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.4)) drop-shadow(-2px -2px 10px rgba(255, 255, 255, 0.4));
}