@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #101125 !important;
}

main {
  padding: 4rem 2rem 1rem 2rem;
}

footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
}